.ip-info-key {
  color: #8952e2;
}

.ip-info-vpn-on {
  color: #6ae252;
}

.ip-info-vpn-off {
  color: #e25252;
}

.ip-info-box {
  padding-left: 20px;
  min-width: 320px;
}

.ip-info-value {
  color: #838a85;
}
